.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-informations{
  display: flex;
  justify-content: center;
}
.container-charts{
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.container-chart{
  width: 30%;
}
.container-legend{
  display: flex;
  justify-content: center;
}
.rectangle{
  width: 40px;
  height: 10px;
  margin-top: 7px;
  margin-bottom: 2%;
}
.free{
  background: #E6E6E6;
}
.used{
  background: #36A2EB;
}